.bookingContainer {
  width: 100%;
  height: 70vh;
  position: relative;
}

.bookingImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
}

.bookingOverlay {
  width: 100%;
  height: 100%;
  background-color: #0f0f0fde;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.bookingSubText {
  font-size: 18px;
  font-weight: 390;
  color: #999;
}

.bookingContent {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 55px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;

  @media screen and (max-width: 768px) {
    width: 100%;
    gap: 32px;
  }

  .bookingTitle {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media screen and (max-width: 768px) {
      gap: 16px;
    }

    .titleText {
      font-size: 32px;
      font-weight: 700;
      letter-spacing: 5.5px;
      line-height: 1.75;
      word-wrap: break-word;
      text-transform: uppercase;
    }

    .bookingText {
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }

  .inputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;

    @media screen and (max-width: 500px) {
      flex-direction: column;
      width: 100%;
    }

    .bookingInput {
      width: 50%;
      height: 55px;
      padding: 12px 16px;
      background: #ddeeff;
      border-radius: 12px;
      color: #333;
      outline: none;
      border: none;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
      transition: all 0.3s ease;

      @media screen and (max-width: 500px) {
        width: 100%;
      }

      input {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        background: transparent;
        font-size: 16px;
        &::placeholder {
          color: #999;
        }
        &:focus {
          outline: none;
          border: none;
        }
      }
    }

    .bookingButton {
      display: flex;
      width: fit-content;
      height: 55px;
      padding: 12px 16px;
      background: #0f0f0f;
      border: 1px solid #222;
      border-radius: 12px;
      color: #fff;
      transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      position: relative;
      overflow: hidden;
      outline: none;
      cursor: pointer;

      svg {
        width: 20px;
        height: 20px;
        fill: #fafad2;
        transition: all 0.3s ease;
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, transparent, #fafad238, transparent);
        transition: left 0.6s ease;
      }

      &:hover {
        color: #fafad2;
        border-color: #fafad2;
        &::before {
          left: 100%;
        }
      }

      &:active {
        transform: translateY(0);
      }
    }
  }
}
