.teamStatsSection {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    .container {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;

      @media screen and (max-width: 768px) {
        gap: 24px;
      }
  
      .teamStatsHeader {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        text-align: center;
  
        .teamStatsTitle {
          font-size: 32px;
          font-weight: 700;
          line-height: 52px;
          letter-spacing: 5.5px;
          word-wrap: break-word;
          text-transform: uppercase;
          @media screen and (max-width: 768px) {
            font-size: 24px;
            line-height: 36px;
          }
        }
  
        .teamStatsSubTitle {
          font-size: 18px;
          color: #999;
          text-align: center;
        }
      }
  
      .teamStatsGrid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 32px;
        @media screen and (max-width: 768px) {
          gap: 24px;
        }
      }
  
      .teamStatsItem {
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 24px 16px;
        gap: 16px;
        border-radius: 16px;
        border: 2px solid #222;
        position: relative;
        overflow: hidden;
        cursor: pointer;
  
        @media screen and (max-width: 768px) {
          width: 210px;
          padding: 24px 12px;
          gap: 8px;
        }

        @media screen and (max-width: 470px) {
          width: 300px;
        }
      }
  
      .numberContainer {
        display: flex;
        align-items: baseline;
        gap: 4px;
        justify-content: center;
        min-width: fit-content;
        width: fit-content;
      }

      .number {
        font-size: 40px;
        font-weight: 700;
        color: #fafad2;
        line-height: 1;
        font-variant-numeric: tabular-nums;
        font-feature-settings: 'tnum';
        display: inline-block;
        text-align: right;
        @media screen and (max-width: 768px) {
          font-size: 32px;
        }
      }
  
      .suffix {
        font-size: 32px;
        font-weight: 800;
        color: #fafad2;
        line-height: 1;
      }
  
      @keyframes pulse {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.05);
        }
        100% {
          transform: scale(1);
        }
      }
    }
  }