.navigation {
    display: flex;
    flex-direction: column;
    gap: 32px;
  
    .navigationTitle {
      display: flex;
      align-items: center;
      gap: 5px;
  
      svg {
        width: 20px;
        height: 20px;
        fill: #fff;
      }
    }
  
    .navigationContents {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: 32px;
  
      .navigationItem {
        width: fit-content;
        display: flex;
        flex-direction: column;
        gap: 32px;

        @media screen and (max-width: 768px) {
          width: 100%;
        }
  
        .navigationLink {
          border: 1px solid #222;
          display: flex;
          flex-direction: column;
          padding: 10px 24px;
          border-radius: 24px;
          text-decoration: none;

          @media screen and (max-width: 768px) {
            width: 100%;
          }
  
          .navlabel {
              color: #ddeeff;
          }
  
          .navigationLabel {
            display: flex;
            align-items: center;
            gap: 10px;
            text-decoration: none;
            color: #fff;

            svg {
              width: 20px;
              height: 20px;
              fill: #fff;
            }
          }
  
          &:hover {
            background-color: #222;
            cursor: pointer;
          }
        }
      }
    }
  }